<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.poyarzun.macos-process-exporter</string>
    <key>ServiceDescription</key>
    <string>Process Exporter for MacOS</string>
    <key>ProgramArguments</key>
    <array>             
        <string>/Users/patrickoyarzun/third-party/macos-proc-exporter/macos-proc-exporter</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>UserName</key>
    <string>root</string>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>